@media screen and (max-width: 700px) {
  .container-header {
    max-height: 70px;
    margin-bottom: 20px;
  }
  #item {
    padding: 10px;
    max-width: 100px;
  }

  .wider-item {
    background-color: rgb(0, 51, 51);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
  }

  .Image-norway {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  #hamburger-icon {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
  }

  #hamburger-menu {
    display: none;
  }

  nav {
    display: none;
    background-color: rgb(0, 51, 51);
    z-index: 1;
    position: relative;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
  li {
    text-align: center;
    display: block;
    padding: 20px;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: normal;
  }

  nav a:hover {
    text-decoration: underline;
    color: rgb(248, 215, 25);
    font-weight: bold;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    color: white;
    display: block;
    align-items: flex-start;
  }

  footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  footer {
    background-color: rgb(0, 51, 51);
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
  }
  h2 {
    font-weight: normal;
  }

  footer a {
    display: block;
  }

  .follow_us a {
    display: inline;
    font-size: 30px;
  }
}

@media (min-width: 700px) {
  body {
    font-family: "roboto condensed", "open sans", "PT sans", verdana;
    color: rgb(0, 51, 51);
  }

  .logo {
    max-width: 400px;
  }
  .container-header {
    display: block;
  }

  .wider-item {
    text-align: center;
    margin-top: 30px;
    font-weight: 200;
    background-color: rgb(0, 51, 51);
    padding: 20px;
    color: whitesmoke;
  }

  header {
    padding: 40px;
  }

  #hamburger-icon,
  #hamburger-menu {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    display: inline;
    padding: 30px;
  }

  nav a {
    text-decoration: none;
    color: rgb(0, 51, 51);
    font-size: 3vw;
    font-weight: normal;
  }

  nav a:hover {
    text-decoration: underline;
    color: rgb(17, 84, 139);
    font-weight: bold;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 8px;
    margin-bottom: 50px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    color: white;
    display: block;
    align-items: flex-start;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  footer {
    background-color: rgb(0, 51, 51);
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    font-weight: normal;
    margin: 30px;
  }
  h2 {
    font-weight: normal;
  }

  footer a {
    display: block;
    padding-top: 10px;
  }

  .follow_us a {
    display: inline;
    font-size: 30px;
  }
}
