.logo {
  max-width: 200px;
}

.container {
  display: flex;
}
.item {
  margin-left: 50px;
  flex: 2;
  max-width: 200px;
}
.wider-item {
  flex: 4;
  margin-left: 100px;
  margin-top: 40px;
  color: rgb(0, 51, 51);
  font-weight: 200;
}

header {
  background-color: rgb(217, 230, 241);
  padding: 30px;
  font-family: "roboto condensed", "open sans", "PT sans", verdana;
}
