@media (min-width: 700px) {
  body {
    font-family: "roboto condensed", "open sans", "PT sans", verdana;
    color: rgb(0, 51, 51);
    position: relative;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo {
    display: block;
    margin-right: auto;
    min-width: 150px;
    max-width: 150px;
  }

  header {
    padding: 40px;
  }

  input[type="text"] {
    height: 1vw;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(206, 161, 0);
    margin-left: 30%;
    margin-right: 10%;
    width: 40%;
  }

  #shoppingcart {
    float: right;
    font-size: 2vw;
    margin-right: 20px;
    color: rgb(0, 51, 51);
  }

  .section_two {
    margin-top: 1%;
  }

  input[type="text"]:hover {
    border: 20px;
  }

  .wider-item {
    text-align: center;
    font-weight: 200;
    background-color: rgb(0, 51, 51);
    padding: 10px;
    color: white;
    font-size: 20px;
  }

  #hamburger-menu,
  #hamburger-icon {
    float: right;
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  nav li {
    display: inline;
    padding: 30px;
  }

  nav a {
    text-decoration: none;
    color: rgb(92, 112, 112);
    font-size: 3vw;
    font-weight: normal;
    padding: 5px 10px;
  }

  nav a:hover {
    color: rgb(0, 51, 51);
    font-weight: bold;
    background-color: rgb(220, 238, 253);
  }

  nav a:current {
    background-color: rgb(201, 227, 248);
  }

  .product {
    background-color: rgb(220, 238, 253);
    max-height: 400px;
    max-width: 600px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    grid-area: text;
  }

  #jacket_front {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 200px;
    padding-top: 10px;
    grid-area: image;
  }

  .add {
    max-height: 60px;
    max-width: 600px;
    text-align: center;
    grid-area: add;
    background-color: rgb(0, 51, 51);
    margin-top: 50px;
    position: relative;
  }

  #shoppingcart_added {
    font-size: 30px;
    margin-right: 20px;
    color: rgb(0, 51, 51);
    grid-area: added;
    position: relative;
    top: 60px;
    left: 10px;
    animation-name: right;
    animation-duration: 2s;
  }
  @keyframes right {
    0% {
      left: 10px;
    }
    50% {
      left: 30px;
    }
    100% {
      left: 10px;
    }
  }

  .add:active ~ #shoppingcart_added {
    animation-play-state: running;
  }
}
.view_cart {
  grid-area: back;
  background-color: rgb(0, 51, 51);
  min-height: 50px;
  max-width: 600px;
}

.view_cart a {
  color: white;
  text-align: center;
}

.add {
  color: white;
  text-align: center;
}
.container {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-areas:
    "image text"
    "add added"
    "back back";
}

footer {
  height: 100px;
  background-color: rgb(0, 51, 51);
  color: white;
  align-items: center;
  margin-top: 300px;
}

footer li {
  list-style-type: none;
  display: flex;
}

footer a {
  color: white;
  text-decoration: none;
}
.about li {
  display: inline;
  padding: 30px;
  float: left;
}
.follow li {
  float: right;
  margin-top: 15px;
  padding: 10px;
  font-size: 30px;
  margin-right: 50px;
}
footer a:hover {
  text-decoration: underline;
}
.follow li:hover {
  font-size: 35px;
}

@media screen and (max-width: 700px) {
  body {
    font-family: "roboto condensed", "open sans", "PT sans", verdana;
    color: rgb(0, 51, 51);
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .logo {
    max-width: 20vw;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
  }

  #shoppingcart {
    float: right;
    font-size: 3vw;
    margin-right: 20px;
    color: rgb(0, 51, 51);
  }

  input[type="text"] {
    height: 1vw;
    padding: 10px;

    width: 40%;
    margin-left: 20%;
    margin-right: 20px;
    font-size: 20px;
    background-color: rgb(206, 161, 0);
  }

  .wider-item {
    background-color: rgb(0, 51, 51);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: white;
    font-weight: 200;
    margin-top: 4%;
  }

  .image_adventure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  #hamburger-icon {
    float: right;
    margin-right: 25px;
  }

  #hamburger-menu {
    float: right;
    display: none;
  }

  nav {
    display: none;
    background-color: rgb(220, 238, 253);

    position: fixed;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }

  nav li {
    text-align: center;
    display: block;
    padding-top: 40px;
  }

  nav a {
    text-decoration: none;
    color: rgb(0, 51, 51);
    font-size: 30px;
    font-weight: normal;
    padding-top: 30px;
  }

  nav a:hover {
    text-decoration: underline;
    color: rgb(206, 161, 0);
    font-weight: bold;
  }

  .product {
    background-color: rgb(220, 238, 253);
    max-height: 400px;
    max-width: 600px;
    padding-bottom: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    grid-area: text;
  }

  #jacket_front {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 200px;
    padding-top: 10px;
    grid-area: image;
  }

  .add {
    max-height: 60px;
    max-width: 600px;
    text-align: center;
    grid-area: add;
    background-color: rgb(0, 51, 51);
    margin-top: 50px;
  }

  #shoppingcart_added {
    display: none;
  }

  .view_cart {
    grid-area: back;
    background-color: rgb(0, 51, 51);
    min-height: 50px;
    max-width: 600px;
  }

  .view_cart a {
    color: white;
    text-align: center;
  }

  .add {
    color: white;
    text-align: center;
  }
  .container {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas:
      "image text"
      "add added"
      "back back";
  }

  footer {
    margin-top: 100px;
    height: 100px;
    background-color: rgb(0, 51, 51);
    color: white;
  }

  footer li {
    list-style-type: none;
    text-align: center;
    align-content: center;
  }

  footer a {
    color: white;
    text-decoration: none;
  }
  .about li {
    padding: 5px;
  }
  .follow li {
    padding: 10px;
    padding-top: 5px;
    font-size: 30px;
    display: inline;
  }
  .follow {
    text-align: center;
  }
}
